* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
}

*:focus {
outline: 2px dotted #de2e54;
outline-offset: 2px;
}

/* site header styles */
.site-header {
  width: 100%;
  max-width: 1440px;
  border-top: 2px solid rgba(24, 105, 162, 0.986);
  padding-bottom: 24px;

}

/* container styles */
.container {
display: flex;
align-items: center;
width: 100%;
max-width: 1140px;
padding-top: 24px;
padding-left: 20px;
padding-right: 20px;
margin: auto;
}
/* logo styles */
.logo-box {
display: flex;
align-items: center;
width: 185px;
height: 50px;
margin-right: 100px;
transition: color 0.4s ease,
opacity 0.4s ease;
}
.logo-box:active {
  opacity: 0.6;
}

.heading {
  display: inline-block;
  margin-left: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #222;
  text-decoration: none;
}
.heading:hover {
  color: #de2e54;
}

/* navbar styles */
.navbar > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-right: 50px;
}
.navbar > ul > li:not(:last-child) {
  margin-right: 32px;
}
.navbar > ul > li > a {
font-weight: 700;
font-size: 14px;
line-height: 21px;
letter-spacing: 2px;
text-transform: uppercase;
text-decoration: none;
color: #222;
transition: color 0.4s ease,
opacity 0.4s ease;
}

.navbar > ul > li > a:hover {
  color: #de2e54;
}
.navbar > ul > li > a:active {
  opacity: 0.6;
}

/* button styles */
.btn {
display: inline-block;
background-color: #de2e54;
color: #fff;
padding: 10px 22px;
border-radius: 8px;
border: 2px solid #de2e54;
text-decoration: none;
text-transform: uppercase;
font-weight: 700;
font-size: 14px;
line-height: 150%;
letter-spacing: 2px;
transition: background-color 0.4s ease,
color 0.4s ease, opacity 0.4s ease;
}
.btn:hover {
background-color: #fff;
color: #de2e54;
}
.btn:active {
  background-color: #de2e54;
  color: #fff;
  opacity: 0.6;
}

/* Hero styles */

.hero {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  background-color: #0eb4c1;
}

/* Hero info box styles */
.hero-info-box {
  width: 500px;
  padding-top: 120px;
  padding-bottom: 120px;
  margin-right: 177px;
  color: #fff;
}

.hero-heading {
font-weight: 700;
font-size: 28px;
line-height: 37px;
margin-bottom: 16px;

}
.hero-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 36px;
}

.hero-img {
  display: block;
  width: 424px;
  height: 503px;
}

/* Second Section */
.services {
  width: 100%;
  max-width: 1440px;
  padding-bottom: 120px;
}
.services-heading {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #000;
  margin-top: 120px;
}

.services-list {
  width: 100%;
  max-width: 910px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  margin-top: 56px;
  margin-bottom: 60px;
}

.services-items {
  display: flex;
  align-items: center;
}

.services-info {
margin-left: 64px;
padding-top: 25px;
padding-bottom: 25px;
}

.services-info > h3 {
font-weight: 700;
font-size: 24px;
line-height: 28px;
color: #222;
margin-bottom: 24px;
}

.services-info > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #444;
}

.services-items > img {
  width: 200px;
  height: 200px;
}

/* services button styles */
.services-btn {
  margin: 0;
  margin-left: 610px;
  margin-right: 605px;
}

/* Third section */
.booking {
  width: 100%;
  max-width: 1440px;
  background-color:#0eb4c1;
  color: #fff;
  padding-bottom: 64px;
}
.booking-header {
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  padding-top: 64px;
  margin-bottom: 40px;
}
.booking-options {
  display: flex;
  align-items: center;
  justify-content: center;
}

.booking-options > a {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: inherit;
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 10px 22px;
  transition: background-color 0.4s ease,
  color 0.4s ease, opacity 0.4s ease;

}

.booking-call {
  margin-right: 40px;
}
.booking-options > a:hover {
  background-color: #de2e54;
  color: #fff;
  border: none;
}

.booking-options > a:active {
  opacity: 0.6;
}

/* Site footer */
.site-footer {
  width: 100%;
  max-width: 1440px;
  padding: 24px;
  background-color: #222;
}

/* Footer logo styles */
.footer-logo-box {
  display: flex;
  align-items: center;
  margin-right: 420px;
}

.footer-logo-box:active {
  opacity: 0.6;
}
.footer-heading {
  margin-left: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  text-decoration: none;
  transition: color 0.4s ease;
}
.footer-heading:hover {
  color: #de2e54;
}

/* footer-navbar-styles */
.footer-navbar > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-right: 50px;
}

.footer-navbar > ul > li:not(:last-child) {
  margin-right: 32px;
}

.footer-navbar > ul > li > a {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  transition: color 0.4s ease,
  opacity 0.4s ease
}

.footer-navbar > ul > li > a:hover {
color: #de2e54;
}

.footer-navbar > ul > li > a:active {
  color: #fff;
  opacity: 0.6;
}
